
/*change menu icon with font awsome and change it color*/
.oi-apps::before {
    font-family: FontAwesome;
    content: "\f17a";
}
/*create a color for fa icons*/
.fa-bug{
    color: #fafafa;
}
.fa-comments{
    color: #fafafa;
}
.fa-clock-o{
    color: #fafafa;
}
/*company and user text color in menu*/
.oe_topbar_name{
    color: #fafafa;
}

/*Mouse over the nav bar items text they go to this color and */
.o_main_navbar .o_nav_entry:hover, .o_main_navbar .dropdown-toggle:hover, .o_main_navbar .o_menu_brand:hover, .o_main_navbar .o_menu_systray > * > a:hover, .o_main_navbar .o_menu_systray > * > .dropdown > a:hover, .o_main_navbar .o_menu_systray > * > button:hover, .o_main_navbar .o_menu_systray > * > label:hover, .o_main_navbar .o_nav_entry:focus, .o_main_navbar .dropdown-toggle:focus, .o_main_navbar .o_menu_brand:focus, .o_main_navbar .o_menu_systray > * > a:focus, .o_main_navbar .o_menu_systray > * > .dropdown > a:focus, .o_main_navbar .o_menu_systray > * > button:focus, .o_main_navbar .o_menu_systray > * > label:focus, .o_main_navbar .focus.o_nav_entry, .o_main_navbar .focus.dropdown-toggle, .o_main_navbar .focus.o_menu_brand, .o_main_navbar .o_menu_systray > * > a.focus, .o_main_navbar .o_menu_systray > * > .dropdown > a.focus, .o_main_navbar .o_menu_systray > * > button.focus, .o_main_navbar .o_menu_systray > * > label.focus {
    color: #000000;
  }