/* font family */
@font-face {
    font-family: "Yekan Bakh Fa 04";
    src: url("https://cdn.viraweb123.ir/api/v2/cdn/libs/YekanBakh@2020/Fa/Yekan Bakh Fa 04 Regular.woff") format("woff"),
         url("https://cdn.viraweb123.ir/api/v2/cdn/libs/YekanBakh@2020/Fa/Yekan Bakh Fa 04 Regular.eot") format("embedded-opentype"),
         url("https://cdn.viraweb123.ir/api/v2/cdn/libs/YekanBakh@2020/Fa/Yekan Bakh Fa 04 Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Yekan Bakh Fa 08";
    src: url("https://cdn.viraweb123.ir/api/v2/cdn/libs/YekanBakh@2020/Fa/Yekan Bakh Fa 08 Fat.woff") format("woff"),
         url("https://cdn.viraweb123.ir/api/v2/cdn/libs/YekanBakh@2020/Fa/Yekan Bakh Fa 08 Fat.eot") format("embedded-opentype"),
         url("https://cdn.viraweb123.ir/api/v2/cdn/libs/YekanBakh@2020/Fa/Yekan Bakh Fa 08 Fat.ttf") format("truetype");
  }
  
