//----------------------------------------------------------
// Components
//----------------------------------------------------------

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

//----------------------------------------------------------
// AppBarMenu
//----------------------------------------------------------

$mk-sidebar-large-width: 146px;
$mk-sidebar-small-width: 46px;

//----------------------------------------------------------
// List View
//----------------------------------------------------------

$o-list-footer-bg-color: $o-brand-odoo;
