.Your_custom_class {
    height: 80px; 
    width: 80px; overflow:hidden;
}

.openerp .oe_form .oe_form_field_image img {
    max-width:80px; 
    max-height: 80px;
}
#recipient_single_number_itf {
    direction: ltr /* rtl:ignore */;
}
.o_field_cell .o_list_char{
    direction: ltr /* rtl:ignore */;
}
/*-----Do for tree view view number in true direction*/
td[name="contact_no"] {
    direction: ltr /* rtl:ignore */;
}
/*create image background fixed bottom of form page*/
/*.o_form_sheet_bg{
    background-image: url("background.png");
    background-position: fixed; 
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: bottom left; 
 
}*/
/*create image background fixed bottom of all page*/
/*.o_content{
    background-image: url("background.png");
    background-position: fixed; 
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: bottom left; 
}*/
/*change menu icon with font awsome and change it color*/
.oi-apps::before {
    font-family: FontAwesome;
    content: "\f17a";
    color: #0a0a0a;
    
}
/*create a color for fa icons*/
.fa-bug{
    color: #000000;
}
.fa-comments{
    color: #000000;
}
.fa-clock-o{
    color: #000000;
}
/*company and user text color in menu*/
.oe_topbar_name{
    color: #000000;
}
/*directions for persian language*/
.o_phone_content{
    direction: ltr /* rtl:ignore */;
}
.o_phone_content a.o_form_uri {
    direction: ltr /* rtl:ignore */;
}
.o_cell .o_field_widget .o_field_char .oe_inline{
    direction: ltr /* rtl:ignore */;
}
#recipient_single_number_itf {
    direction: ltr /* rtl:ignore */;
    }
td[name="contact_no"] {
    direction: ltr /* rtl:ignore */;
    }         
.o_field_phone_sms{
    direction: ltr /* rtl:ignore */;
}
/*Mouse over the nav bar items text they go to this color and */
.o_main_navbar .o_nav_entry:hover, .o_main_navbar .dropdown-toggle:hover, .o_main_navbar .o_menu_brand:hover, .o_main_navbar .o_menu_systray > * > a:hover, .o_main_navbar .o_menu_systray > * > .dropdown > a:hover, .o_main_navbar .o_menu_systray > * > button:hover, .o_main_navbar .o_menu_systray > * > label:hover, .o_main_navbar .o_nav_entry:focus, .o_main_navbar .dropdown-toggle:focus, .o_main_navbar .o_menu_brand:focus, .o_main_navbar .o_menu_systray > * > a:focus, .o_main_navbar .o_menu_systray > * > .dropdown > a:focus, .o_main_navbar .o_menu_systray > * > button:focus, .o_main_navbar .o_menu_systray > * > label:focus, .o_main_navbar .focus.o_nav_entry, .o_main_navbar .focus.dropdown-toggle, .o_main_navbar .focus.o_menu_brand, .o_main_navbar .o_menu_systray > * > a.focus, .o_main_navbar .o_menu_systray > * > .dropdown > a.focus, .o_main_navbar .o_menu_systray > * > button.focus, .o_main_navbar .o_menu_systray > * > label.focus {
    color: #000000;
    transition: 1.5s;
  }